<div class="jumbotron">
	<h1>About us</h1>
	<p>
		Find that great gift that will make your friends or loved ones wide-eyed. We're talking mouth open, laugh out loud,
		and dilated pupils. Gift giving is boring, difficult, ambiguous, and we always get it wrong.<br>

		"Oh no! She already has that!" or "Oh no! He looks confused and unhappy!"<br><br>

		Forget about it!<br>
		Now, you will find what your friends really want. Introducing GiftGuru.<br><br>

		Based on a few clicks regarding your person of interest's personality traits, we provide you with hand selected matches 
		that will make you laugh and make you the best gift giver ever. Through our gift guru's selections, we present to you 
		a collection of personalized gifts that will make everyone remember to invite you to their birthdays.<br><br>

		Try us out or forever be forgotten from birthday lists.
	</p>
	 <div class="btn btn-info" ng-hide="user.authorized" ng-click="user.login()">Login with Facebook</div>
  	<div class="btn btn-info" ng-show="user.authorized" ng-click="user.logout()">Logout</div>
	<span>User logged in: {{user.authorized}} {{user}}</span>
</div>
