<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
      <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#/about" class="navbar-brand">GiftGuru</a>
    </div>
    <div class="navbar-collapse collapse navbar-inverse-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#/myprofile" ng-hide="showLoginButton">My Profile</a></li>
        <li><a href="#/friends" ng-hide="showLoginButton">Friends</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-show="showLoginButton"><a href="" ng-click="login()">Login</a></li>
        <li ng-hide="showLoginButton"><a href="" ng-click="logout()">Logout</a></li>
      </ul>
    </div>
</div>

<div class = "container-fluid">
 <h3> Recommendation from {{name}}'s Inputs </h3>
 <div ng-repeat = "question in storedgifts" class="row" align="left">
          <h4> Based on {{name}}'s like of "{{question.question_text }}"</h4>
      <div ng-repeat = "rec in question.recs" align="center">
        <div class="col-md-4">
          <div class="thumbnail">
            <br>
            <h4>  {{rec.title}} </h4>
              <p><a href="{{rec.pageUrl}}" target="_blank"><img ng-src="{{rec.imgUrl}}" width="50%" height="50%" alt=""></a></p>
              <p>  {{rec.price}} </p>
              <p>
              <!-- <a href="#" class="btn" title="Email"><span class="glyphicon glyphicon-envelope"></span></a> 
              <a href="#" class="btn" title="More Info"><span class="glyphicon glyphicon-info-sign"></span></a>
              <a href="#" class="btn" title="Like"><span class="glyphicon glyphicon-heart"></span></a>
            <a href="#" class="btn">Claim</a> -->
              </p>  
          </div>
        </div>
      </div> 
  </div>
</div>
