

    <div class="container">
    <div class="btn btn-info" ng-show="user.authorized" ng-click="user.me()">get my info!</div>
    {{ user }}
	<br><br><br>
    Search: <input ng-model="query">
    Sort by:
    <select ng-model="orderProp">
    	<option value="birthday"> Birthday </option>
    	<option value = "name"> Name </option>
    </select>
    <table class = "table table-stripled">
    	<thead>
	        <tr>
	            <td><strong>Friend Name</strong></td>
	            <td>Friend Picture</td>
	            <td>Friend Birthday </td>
	            <td>Friend Movie </td>
	        </tr>
    	</thead>
    	

    	<tbody>
			<tr ng-repeat = "friend in friends.data | filter: query | orderBy: orderProp">
				<td> <a href="#/friend/21" target="_blank"> {{friend.name}}  </a> </td>
				<td> <img ng-src='https://graph.facebook.com/{{friend.id}}/picture'> </td>
				<td> {{friend.birthday}} </td>
				<td> {{friend.id}} </td>
			</tr>
		</tbody>
	</table>
	</div>

     
    </div>
    
