<div data-ng-controller="MainController">

    <div class="container">
 <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div>
            <div class="alert alert-info" data-ng-show="salutation">Hello, {{user.name}}</div>
            <div class="alert alert-warning" data-ng-show="byebye">Bye bye :'(</div>
          </div>
          
          <button type="button" class="btn btn-primary btn-large" data-ng-show="!logged" data-ng-disabled="!facebookReady" data-ng-click="IntentLogin()">Login with Facebook</button>
          <button type="button" class="btn btn-danger btn-large" data-ng-show="logged" data-ng-disabled="!facebookReady" data-ng-click="logout()">Logout</button>
          
          <div>
            <debug val="user"></debug>
          </div>
          
        </div>
</div>
	<br><br><br>
    Search: <input ng-model="query">
    Sort by:
    <select ng-model="orderProp">
    	<option value="birthday"> Birthday </option>
    	<option value = "name"> Name </option>
    </select>
    <table class = "table table-stripled">
    	<thead>
	        <tr>
	            <td><strong>Friend Name</strong></td>
	            <td>Friend Picture</td>
	            <td>Friend Birthday </td>
	            <td>Friend Movie </td>
	        </tr>
    	</thead>
    	

    	<tbody>
			<tr ng-repeat = "friend in friends.data | filter: query | orderBy: orderProp">
				<td> <a href="#/friend/{{friend.id}}" target="_blank"> {{friend.name}}  </a> </td>
				<td> <img ng-src='https://graph.facebook.com/{{friend.id}}/picture'> </td>
				<td> {{friend.birthday}} </td>
				<td> {{friend.id}} </td>
			</tr>
		</tbody>
	</table>
	</div>

     
    </div>
    
  </div>