<h3 align="center">Guru's picks</h3>
Price range: 
<slider floor="10" ceiling="60" ng-model-low="position.minAge" ng-model-high="position.maxAge"></slider>
<div class="container">
    <div ng-repeat = "question in gifts" class="row" align="left">
      <h4> Based on your friend's like of {{question.question_text }}</h4>
      <div ng-repeat = "rec in question.recs" align="center">
        <div class="col-md-4">
          <div class="thumbnail">
            <br>
            <h4>  {{rec.title}} </h4>
          	<p><a href="{{rec.pageUrl}}" target="_blank"><img ng-src="{{rec.imgUrl}}" width="50%" height="50%" alt=""></a></p>
          	<p>  {{rec.price}} </p>
          	<p>
          	<a href="#" class="btn btn-success" title="Email"><span class="glyphicon glyphicon-envelope"></span></a> 
           	<a href="#" class="btn btn-info" title="More Info"><span class="glyphicon glyphicon-info-sign"></span></a>
          	<a href="#" class="btn btn-danger" title="Like"><span class="glyphicon glyphicon-heart"></span></a>
            <a href="#" class="btn btn-warning">Claim</a>
           	</p>  
          </div>
        </div>
      </div> 
   </div> 
</div>