
<link rel="stylesheet" type="text/css" href="css/login.css" />

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
      <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#/about" class="navbar-brand">GiftGuru</a>
    </div>
    <div class="navbar-collapse collapse navbar-inverse-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#/myprofile" ng-hide="showLoginButton">My Profile</a></li>
        <li><a href="#/friends" ng-hide="showLoginButton">Friends</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-show="showLoginButton"><a href="" ng-click="login()">Login</a></li>
        <li ng-hide="showLoginButton"><a href="" ng-click="logout()">Logout</a></li>
      </ul>
    </div>
</div>

<div class="login-container">
    <div class="title">GiftGuru</div><br/><br/><br/>
    <a href="" ng-show="showLoginButton" ng-click="login()">Login with facebook</a>
</div>

