<div class="container">
    <div class="row">
        <div ng-repeat = "question in questions" class="col-md-4">
            <div class="thumbnail" align="center">
                <h4>{{question.question_text}}</h4>
                <!--
                <p><input autofocus placeholder="Top Secret" type="text"/><br><br><a class="btn btn-success insert">Enter</a></p>
                -->
                <form name="formuser" ng-submit="submit(answer)">
                    <input type="text" ng-model="answer" autofocus placeholder="Top Secret" type="text"/>
                    <br><br>
                    <a class="btn btn-success insert" type="submit">Enter</a>
                </form>

            </div>
        </div>
    </div>
    
    <a href="#" class="circle-responsive">Generate My Gifts</a>
</div>