<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail" align="center">
                <h4>Favorite Food</h4>
                <p><input autofocus placeholder="Top Secret" type="text"/><br><br><a class="btn btn-success insert">Enter</a></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail" align="center">
                <h4>Dream Destination</h4>
                <p><input autofocus placeholder="Top Secret" type="text"/><br><br><a id="bla" href="#" class="btn btn-success insert" data-toggle="tooltip">Enter</a></p>

            </div>
        </div><div class="col-md-4">
            <div class="thumbnail" align="center">
                <h4>Idol</h4>
                <p><input autofocus placeholder="Top Secret" type="text"/><br><br><a id="bla" href="#" class="btn btn-success insert" data-toggle="tooltip">Enter</a></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail" align="center">
                <h4>Favorite Song</h4>
                <p><input autofocus placeholder="Top Secret" type="text"/><br><br><a id="bla" href="#" class="btn btn-success insert" data-toggle="tooltip">Enter</a></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail" align="center">
                <h4>Secret Desire</h4>
                <p><input autofocus placeholder="Top Secret" type="text"/><br><br><a id="bla" href="#" class="btn btn-success insert" data-toggle="tooltip">Enter</a></p>
            </div>
        </div><div class="col-md-4">
            <div class="thumbnail" align="center">
                <h4>Movie</h4>
                <p><input autofocus placeholder="Top Secret" type="text"/><br><br><a id="bla" href="#" class="btn btn-success insert" data-toggle="tooltip">Enter</a></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail" align="center">
                <h4>Band</h4>
                <p><input autofocus placeholder="Top Secret" type="text"/><br><br><a id="bla" href="#" class="btn btn-success insert" data-toggle="tooltip">Enter</a></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail" align="center">
                <h4>Snack</h4>
                <p><input autofocus placeholder="Top Secret" type="text"/><br><br><a id="bla" href="#" class="btn btn-success insert" data-toggle="tooltip">Enter</a></p>
            </div>
        </div><div class="col-md-4">
            <div class="thumbnail" align="center">
                <h4>Restaurant</h4>
                <p><input autofocus placeholder="Top Secret" type="text"/><br><br><a id="bla" href="#" class="btn btn-success insert" data-toggle="tooltip">Enter</a></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail" align="center">
                <h4>European City</h4>
                <p><input autofocus placeholder="Top Secret" type="text"/><br><br><a id="bla" href="#" class="btn btn-success insert" data-toggle="tooltip">Enter</a></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail" align="center">
                <h4>Ethnic Cuisine</h4>
                <p><input autofocus placeholder="Top Secret" type="text"/><br><br><a id="bla" href="#" class="btn btn-success insert" data-toggle="tooltip">Enter</a></p>
            </div>
        </div><div class="col-md-4">
            <div class="thumbnail" align="center">
                <h4>Hobby</h4>
                <p><input autofocus placeholder="Top Secret" type="text"/><br><br><a id="bla" href="#" class="btn btn-success insert" data-toggle="tooltip">Enter</a></p>
            </div>
        </div>
    </div>
</div>