<h4 align="center"> Fill in the remaining questions to feed our Recommender </h4>
<div class="container">
    <div class="row">
        <div ng-repeat = "question in questions" class="col-md-4">
            <div class="thumbnail" align="center">
                <h4>{{question.question_text}}</h4>
                <form ng-submit="submit()">
                  <input type="text" ng-model="text" name="text" />
                  <br><br>
                  <input class="btn btn-success insert" type="submit" id="submit" value="Submit" />
                  <pre>list={{user_id}}</pre>
                </form>
            </div>
        </div>
    </div>
</div>

