.login-container {
  margin-top: 10%;
  top: 40%;
  left: 40%;
  text-align: center;
  color: white;
}

body {
    background-color: #BC13FE;
}

.title {
    font-size: 100px;
}

.login-container a {
    color: white;
    font-size: 30px;
}

.login-container a:link {
    color: white;
}

/* visited link */
.login-container a:visited {
    color: white;
}

/* mouse over link */
.login-container a:hover {
    color: white;
}